<html>
<head></head>
<body>
<h1>add an artist</h1>
<form action="/artists" method="POST">
<input type="text" id="name" name="name">
<label for="name">artist name</label>
<input type="text" id="genre" name="genre">
<label for="genre">genre</label>
<input type="submit" value="Submit">
</form>
</body>
</html>