<form action="/newalbum" method="POST"> 
<label>title</label>
  <input type="text" name="title">
  <label>release_year</label>
  <input type="int" name="release_year">
  <label>artist_id</label>
  <input type="int" name="artist_id">
  <input type="submit" value="submit">

</form>